<div class="container">
  <div class="d-flex flex-row align-items-center">
    <div class="d-flex flex-column align-items-start p-3 home-text">
      <h1> Discover the world of cocktails.</h1>
      <p>LLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis diam
      sit amet tortor vulputate sollicitudin nec vitae ex. Nulla eget turpis in
      leo fringilla consectetur.</p>
      <%= link_to 'More', cocktails_path, class: 'button' %>
    </div>
    <%= image_tag "home.jpg", alt: "Cocktail", class: 'home-image'  %>
  </div>
</div>


