<div class="container">
  <div class="row">
    <div class="col-6 offset-3 form mt-4 p-5 rounded">
      <h2 class="mb-4">Create your cocktail</h2>
      <%= simple_form_for (@cocktail) do |f| %>
        <%= f.input :name, :label => 'Cocktail name' %>
        <%= f.input :photo, as: :file, :label => 'Add an image' %>
        <%= f.submit "Save your cocktail", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
